:root{
    --mybg: #371B58;
    --myprimary1: #4C3575;
    --myprimary2: #5B4B8A;
    --font-color: #7858A6;
    --mywhite: #fff;
}



body{
    background-image: url(../img/low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 3px var(--mywhite);
    font-weight: bold;
    font-size: 17px;
}

#app{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list{
    background-color: var(--myprimary1);
    border: 5px solid var(--myprimary2);
    width: 20%;
    height: 30%;
    padding: 14px 0;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

h1, h2{
    color: var(--mywhite);
    -webkit-text-stroke: 1px #000; 
    padding: 10px 0;
}

button{
    margin: 20px 0;
    padding: 10px 15px;
    background-color: var(--myprimary2);
    color: var(--mywhite);
    border-radius: 20px;
}
button:hover{
    box-shadow: 1px 0px 8px 10px var(--font-color);
    background-color: var(--myprimary1);
}
input:focus-visible {
    outline: none;
}